<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <title>Document</title>
  </head>
  <body class="h-screen w-full bg-zinc-900 text-white">
    <div class="flex flex-col justify-between items-stretch p-6">
      <a href="/logout" class="text-right">Logout</a>
      <div>
        <h4 class="tracking-tighter font-mono">edit your post.</h4>
        <form action="/post" method="post" class="mt-4 w-full flex flex-col">
          <textarea
            name="content"
            placeholder="What's on your mind?"
            class="w-96 p-2 bg-zinc-800 text-white rounded-md resize-none focus:outline-none focus:ring-1"
            rows="2"
          ><%= post.content %></textarea>
          <input
            type="submit"
            class="w-40 mt-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400"
            value="Update Post"
          />
        </form>
      </div>
    </div>
  </body>
</html>
