<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com/"></script>
    <title>Document</title>
  </head>
  <body class="h-screen w-full bg-zinc-900 text-white">
    <div class="flex flex-col items-start p-6">
      <h1 class="text-3xl font-normal leading-7 tracking-widest"><span class="font-light">Hello</span>, <%= user.name %> 👋</h1>
      <h4 class="tracking-tighter font-mono">you can create a post.</h4>
    </div>
  </body>
</html>

